body {
  margin-bottom: 90px;
}
:root {
  --primary-color: #ec3369;
  --secondary-color: #c4c4c4;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --primary-font: "Bellefair", serif;
  --secondary-font: "Belleza", sans-serif;
  --third-font: "ABeeZee", sans-serif;
}

h1,
h2 {
  text-align: center;
  padding: 10px;
  margin: 20px;
}
h1 {
  font-family: var(--primary-font);
}
h2 {
  font-family: var(--secondary-font);
}
h3 {
  font-family: var(--third-font);
}
p {
  font-family: var(--third-font);
}
small {
  font-size: 25px;
  font-family: var(--secondary-font);
}
.contact-list {
  list-style: none;
  margin-bottom: 60px;
}
.contact-icon {
  font-size: 25px;
  color: var(--primary-color);
  margin: 0 20px;
}
.heading-photo {
  display: block;
  width: 100%;
}
.hero-picture {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0)),
    url(/src/images/heading-photo.jpg);
  background-size: 100% 100%;
  padding: 220px;
  background-repeat: no-repeat;
}

.h1-heading {
  width: 100%;
  font-size: 96px;
  color: white;
  position: relative;
  top: -200px;
}
.primary-button {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
}
.primary-button:hover {
  color: rgb(223, 248, 227);
}
.secondary-button {
  background: white;
  box-shadow: var(--box-shadow);
  color: var(--primary-color);
  margin-top: 20px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
}
.secondary-button:hover {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  border: 1px solid var(--primary-color);
}
.picture-app {
  max-height: 330px;
  padding: 20px 100px;
  background: var(--secondary-color);
}
.picture-about {
  max-height: 550px;
}
.logo-icon {
  max-height: 35px;
  padding: 0;
}
